@charset "utf-8";
/* CSS Document */

/*@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');*/
@font-face {
    font-family: MyriadproReg;
    src: url('Fonts/MYRIADPROREGULAR.woff');
}
@font-face {
    font-family: MyriadproBold;
    src: url('Fonts/MyriadPro-Bold.woff');
}
@font-face {
    font-family: GillSansStd;
    src: url('Fonts/GILLSANS.ttf');
}
.center{
	text-align: center !important;
}
a{
	color: white;
}

body{
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
	width: 1080px;
	height: 1920px;
	/*overflow: hidden;*/
	font-family: 'GillSansStd' !important;
	color: #ffffff;
	/*background-color: #004990 !important;
	background-color: #004990;*/
}
header
{
	width: 1080px;
	height: 260px;
	/*background-color: #002c66;*/
	box-sizing: border-box;
	/*border-bottom: 20px solid #e26c00;*/
}
nav{
	/*margin-top: 15px ;*/
	height:60px;
	background-color: #f68d2c; 
	box-sizing: border-box;
}
header .logo {
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
}
header .logo img {
	width: 640px;
}
.main-content {
    /*background-image: url("../assets/background.png");*/ 
	background-repeat: no-repeat;
	background-size: cover;
    background-position: inherit;
   /* background-color: #1f549b;*/
	padding-top: 115px;
	box-sizing: border-box;
	border:none;
    height: 1030px;
    position: relative;
}
.title{
	font-size: 80px;
    background-color: #ffffff;
    border: 10px solid #ef3026;
    width: 1000px;
    font-weight: 800;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 15px 0;
    color: black;
}
.service-box{
    background-color: #ffffff;
    border: 10px solid #e26c00;
    width: 1000px;
    font-weight: 800;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 15px 0;
    color: black;
    font-size: 54px;
}
footer {
	text-align: center;
	border-top: 25px solid #f68d2c;
    border-bottom: 25px solid #f68d2c;
	height: 470px;
	box-sizing: border-box;
}
footer img{
	width: 1080px;
}
.footer-section{
	margin-left: 300px;
}
.navigation{
	width: 1080px;
    margin: 0px auto;
    height: auto;
    display: block;
}
.navigation-icon {
    margin: 5px 0 0 0;
    width: 250px;
	float: none;
}
.navigation-text {
    font-weight: 800;
    font-size: 40px;
    color: #000;
    position: inherit;
    top: 40px;
    /* left: 100px; */
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    /*margin-top: 40px;*/
}
.navigation-box>div {
    /*margin-top: 20px;*/
    border: 5px solid #006a99;
    padding: 20px 0;
}
.navigation-box{
	background-color: white;
	width: 340px;
    border: 10px solid #006a99;
    padding: 10px;
    height: 420px;
    margin: 0 0px 50px 15px;text-align: center;
  /* border-radius: 15px; */
    }
    .navigation-box div {
      /*width:300px;
      height: 400px;
      border: 5px solid #00acbb;*/
    }

.rent-main{
	width: 515px;
	box-sizing: border-box;
	height: 150px;
	border-top: 10px solid #006a99;
	border-right: 10px solid #006a99;
	border-bottom: 10px solid #006a99;
	position: absolute;
    bottom: 47px;
    padding: 20px 13px 20px 0;
    box-sizing: border-box;
    background-color: white;
}
.rentMe {
    border: 5px solid #006a99;
    box-sizing: border-box;
    padding: 0 30px;
    display: flex;
}
.rentMe h1{
    color: black;
    font-weight: bolder;
    font-size: 45px;
    letter-spacing: 10px;
    padding-left: 35px;
    font-family: sans-serif;
    font-weight: 800;
}
a.button {
	/* styles for button */
	margin:10px auto 0 auto;
	text-align:center;
	display: block;
	width:100px;
	padding:  10px ;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	font-size: 30px;

	/* button color */
	background-color: #003359;

	/* css3 implementation :) */
	/* rounded corner */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	/* drop shadow */
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);

	/* text shaow */
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;

}


#dialog-box .dialog-content p {
	font-weight:700; margin:0;
}

#dialog-box .dialog-content ul {
	margin:10px 0 10px 20px;
	padding:0;
	height:50px;
}

#dialog-box .dialog-content {
	/* style the content */
	max-height: 1200px;
	overflow: hidden;
	text-align:left;
	padding:10px;
	margin:13px;
	color:#666;
	font-family:arial;
	font-size:11px;
}

#dialog-overlay {

	/* set it to fill the whil screen */
	width:100%;
	height:100%;

	/* transparency for different browsers */
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	background:#000;

	/* make sure it appear behind the dialog box but above everything else */
	position:absolute;
	top:0; left:0;
	z-index:3000;

	/* hide it by default */
	display:none;
}

#dialog-box {

	/* css3 drop shadow */
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

	/* css3 border radius */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	background:#eee;
	/* styling of the dialog box, i have a fixed dimension for this demo */
	width:850px;


	/* make sure it has the highest z-index */
	position:absolute;
	top: 20% !important;
	z-index:5000;

	/* hide it by default */
	display:none;
}

.img-home {
	width: 57px;
    float: right;
    margin-top: 4px;
}

.config{
position: absolute;
    width: 100px;
    height: 50px;
    left: 0;
    top: 0;
    z-index: 1000;
}
.survey-form p{
	font-size: 30px;
}

a.w-toplink.pos_right.active {
    display: none;
}

    movtop1.style.display = 'none';
