/* Font Family
================================================== */



/* Global Styles
================================================== */
.main-content {padding-top: 0px; background-color: white; height: 1130px;}

.container {
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
    color:#fff;
    font-size:105%;
    font-family:"Oxygen", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:300;
    letter-spacing:.025rem;
    line-height:1.618;
    padding:1rem 0;

}

/* Setup
================================================== */

.container {
    position:relative;
    //margin:0 auto;
    //margin: 20px;
    margin-top: 80px;
    margin-left: 20px !important;
    /* background-color:#FF6600;*/


}
.column { width:inherit; }




audio {
    margin:0 15px 0 14px;
    width:670px;
}

#mainwrap {
    background-color: #f68d2c;
    padding: 30px 0 0 0;
}

#audiowrap{
    
}
#plwrap {
    margin-top: 25px;
    padding: 10px 0;
    background-color: #f68d2c;
}
#plList{
    padding: 0 20px 0 20px;
}

#tracks {
    position:relative;
    text-align:center;
    color: white;
    font-size: 40px;
    margin-top: 25px;

}

#nowPlay {
    display:inline;
    margin-left: 300px;
}

#npAction {
    padding:131px;
}

#npTitle {
    padding:21px;
}

#plList li {
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 21px;
    width: 100%;
    background-color: #f68d2c;
    border: 5px solid #006a99;
    margin: 10px 0;
}

#plList li:hover {
    background-color:rgba(0,0,0,.1);
    width: 100%;
}

.plItem {
    position:relative;
    font-size: 35px;
    color: white;
}

.plTitle {
}

.plNum {
    width:25px;
}

.plLength {
    padding-left:21px;
    position:absolute;
    right:21px;
    top:0;
}

.plSel,
.plSel:hover {
    background-color:rgba(0,0,0,.1);
    color:#fff;
    cursor:default !important;
}


.playAudio,.stopAudio{
    margin: 80px;
}
.songaction{

    width: 100%;
}
#nowPlay{

}
.bagimage{
    color: pink;
    background-image: url(../images/01.jpg);
    height: 380px;
    background-size: auto;
}

.bagoverlay{
    background: rgba(54, 25, 25, .4);
    height: 310px;
    background-size: auto;
    padding-top: 110px;
}
.yellowcolor{
    background-color: #3fb8e9;
    height: 250px;
    padding-top: 20px;
    text-align: center;
}